root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.feature]
indent_size = 2

[*.{yml,yaml,yml.dist}]
indent_size = 2

[docker-compose.yml]
indent_size = 4
