default:
  translation:
    locale: id
  suites:
    default:
      contexts:
        - behatch:context:json
        - behatch:context:table
        - behatch:context:rest
        - Tests\OpenSID\Behat\UserContext
        - Behat\MinkExtension\Context\MinkContext

  extensions:
    FriendsOfBehat\SymfonyExtension:
      bootstrap: 'tests/bootstrap.php'
      kernel:
        environment: test
        class: OpenSID\Kernel
    Behat\MinkExtension:
      base_url: 'http://example.com/'
      files_path: 'features/files'
      sessions:
        default:
          symfony: ~
    Behatch\Extension: ~

coverage:
  suites:
    default: &coverage-suite
      contexts:
        - behatch:context:json
        - behatch:context:table
        - behatch:context:rest
        - Tests\OpenSID\Behat\UserContext
        - Behat\MinkExtension\Context\MinkContext
        - Tests\OpenSID\Behat\CoverageContext
