<container xmlns="http://symfony.com/schema/dic/services">
    <services>
        <defaults public="true" autowire="true" autoconfigure="true"/>

        <service id="opensid.application.controllers.update_config" class="OpenSID\Application\Controller\UpdateConfigController">
            <tag name="controller.service_arguments"/>
        </service>
        <!--
        <service id="open_sid.application.data_provider.config_item" class="OpenSID\Application\DataProvider\ConfigItemDataProvider">
            <tag name="api_platform.item_data_provider"/>
        </service>
        -->
    </services>
</container>
