parameters:
    paths:
        - src
        - tests
    level: 1
    checkMissingIterableValueType: false
    excludePaths:
        - src/*/*/Resources
        - src/Prototype
        - tests/sandbox
